In [1]:
import pandas as pd
import numpy as np

In [2]:
df_interactions = pd.read_csv('data/review-clean.csv')
df_metadata = pd.read_csv('data/metadata-features-extracted.csv')

In [3]:
df_interactions.head()

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp,mm_timestamp,z_timestamp,log_timestamp,...,relative_current_timestamp,relative_last_interaction_timestamp,hour_sin,hour_cos,weekday_sin,weekday_cos,day_of_month_sin,day_of_month_cos,month_sin,month_cos
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1,0.998997,0.559647,19.927005,...,0.061209,0.082497,-0.258819,0.965926,0.433884,-0.900969,0.0,1.0,0.0,1.0
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1,0.994407,0.535447,19.922399,...,0.059842,1.000000,-0.258819,0.965926,0.000000,1.000000,0.0,1.0,0.0,1.0
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1,0.998472,0.556877,19.926479,...,0.061020,1.000000,0.965926,0.258819,0.781831,0.623490,0.0,1.0,0.0,1.0
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1,0.998414,0.556570,19.926420,...,0.061000,1.000000,-0.500000,0.866025,0.000000,1.000000,0.0,1.0,0.0,1.0
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10,1,1,0.998056,0.554683,19.926062,...,0.060878,1.000000,0.258819,0.965926,-0.781831,0.623490,0.0,1.0,0.0,1.0

In [4]:
df_metadata.head()

,name,item_id,supported_languages,developers,publishers,categories,genres,total_recommendations,price,released_date,...,released_year,released_decade,released_month,released_day_of_week,released_quarter,age,age_category,mm_age,z_age,log_age
0,Clash of Warlords,1430720,"['Simplified Chinese', 'Traditional Chinese']",['XINLINE GAMES'],['XINLINE GAMES'],"['Single-player', 'In-App Purchases', 'Family ...",['Strategy'],0,699.0,2021-02-07,...,2021,2020,2,6,1,3.0,recent,0.111111,-0.167810,1.098612e+00
1,Mine Crazy: The Korean Grinder,1430740,['English'],['Dano Sato'],['RealMono Inc.'],"['Single-player', 'Family Sharing']","['Casual', 'Indie', 'RPG', 'Simulation']",0,199.0,2020-10-08,...,2020,2020,10,3,4,4.0,established,0.148148,0.154011,1.386294e+00
2,Fade,1430100,['English'],['Azimyth Studios'],['Azimyth Studios'],"['Single-player', 'Family Sharing']","['Indie', 'RPG']",0,199.0,2020-10-29,...,2020,2020,10,3,4,4.0,established,0.148148,0.154011,1.386294e+00
3,Clash: Artifacts of Chaos,1430680,"['English', 'French', 'Italian', 'German', 'Sp...",['ACE Team'],['Nacon'],"['Single-player', 'Steam Achievements', 'Steam...","['Action', 'Adventure', 'Indie']",759,2999.0,2023-03-09,...,2023,2020,3,3,1,1.0,new_release,0.037037,-0.811450,1.000000e-10
4,Astatos,1430970,"['English', 'Simplified Chinese', 'Traditional...",['Studio Klondike Australia'],['Studio Klondike'],"['Single-player', 'Multi-player', 'PvP', 'Onli...","['Adventure', 'Indie', 'Strategy', 'Early Acce...",243,1499.0,2021-12-16,...,2021,2020,12,3,4,3.0,recent,0.111111,-0.167810,1.098612e+00

In [5]:
unique_items_interaction = df_interactions['item_id'].unique()
unique_items_metadata = df_metadata['item_id'].unique()

In [6]:
print(f'Number of unique items in interactions: {len(unique_items_interaction)}')
print(f'Number of unique items in metadata: {len(unique_items_metadata)}')

Number of unique items in interactions: 69001
Number of unique items in metadata: 91284

In [7]:
interaction_not_metadata = np.setdiff1d(unique_items_interaction, unique_items_metadata)
metadata_not_interaction = np.setdiff1d(unique_items_metadata, unique_items_interaction)

In [8]:
print(f'Number of items in interaction but not in metadata: {len(interaction_not_metadata)}')
print(f'Number of items in metadata but not in interactions: {len(metadata_not_interaction)}')

Number of items in interaction but not in metadata: 605
Number of items in metadata but not in interactions: 22888

In [9]:
all_unique_items = np.union1d(unique_items_interaction, unique_items_metadata)
len(all_unique_items)

91889

In [10]:
user_map = {u: i for i, u in enumerate(df_interactions['user_id'].unique())}
item_map = {i: j for j, i in enumerate(all_unique_items)}

df_interactions['user_idx'] = np.array([user_map[u] for u in df_interactions['user_id']])
df_interactions['item_idx'] = np.array([item_map[i] for i in df_interactions['item_id']])
df_metadata['item_idx'] = np.array([item_map[i] for i in df_metadata['item_id']])

In [11]:
df_interactions.head()

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp,mm_timestamp,z_timestamp,log_timestamp,...,hour_sin,hour_cos,weekday_sin,weekday_cos,day_of_month_sin,day_of_month_cos,month_sin,month_cos,user_idx,item_idx
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1,0.998997,0.559647,19.927005,...,-0.258819,0.965926,0.433884,-0.900969,0.0,1.0,0.0,1.0,0,0
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1,0.994407,0.535447,19.922399,...,-0.258819,0.965926,0.000000,1.000000,0.0,1.0,0.0,1.0,1,0
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1,0.998472,0.556877,19.926479,...,0.965926,0.258819,0.781831,0.623490,0.0,1.0,0.0,1.0,2,0
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1,0.998414,0.556570,19.926420,...,-0.500000,0.866025,0.000000,1.000000,0.0,1.0,0.0,1.0,3,0
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10,1,1,0.998056,0.554683,19.926062,...,0.258819,0.965926,-0.781831,0.623490,0.0,1.0,0.0,1.0,4,0

In [12]:
df_metadata.head()

,name,item_id,supported_languages,developers,publishers,categories,genres,total_recommendations,price,released_date,...,released_decade,released_month,released_day_of_week,released_quarter,age,age_category,mm_age,z_age,log_age,item_idx
0,Clash of Warlords,1430720,"['Simplified Chinese', 'Traditional Chinese']",['XINLINE GAMES'],['XINLINE GAMES'],"['Single-player', 'In-App Purchases', 'Family ...",['Strategy'],0,699.0,2021-02-07,...,2020,2,6,1,3.0,recent,0.111111,-0.167810,1.098612e+00,43586
1,Mine Crazy: The Korean Grinder,1430740,['English'],['Dano Sato'],['RealMono Inc.'],"['Single-player', 'Family Sharing']","['Casual', 'Indie', 'RPG', 'Simulation']",0,199.0,2020-10-08,...,2020,10,3,4,4.0,established,0.148148,0.154011,1.386294e+00,43587
2,Fade,1430100,['English'],['Azimyth Studios'],['Azimyth Studios'],"['Single-player', 'Family Sharing']","['Indie', 'RPG']",0,199.0,2020-10-29,...,2020,10,3,4,4.0,established,0.148148,0.154011,1.386294e+00,43570
3,Clash: Artifacts of Chaos,1430680,"['English', 'French', 'Italian', 'German', 'Sp...",['ACE Team'],['Nacon'],"['Single-player', 'Steam Achievements', 'Steam...","['Action', 'Adventure', 'Indie']",759,2999.0,2023-03-09,...,2020,3,3,1,1.0,new_release,0.037037,-0.811450,1.000000e-10,43584
4,Astatos,1430970,"['English', 'Simplified Chinese', 'Traditional...",['Studio Klondike Australia'],['Studio Klondike'],"['Single-player', 'Multi-player', 'PvP', 'Onli...","['Adventure', 'Indie', 'Strategy', 'Early Acce...",243,1499.0,2021-12-16,...,2020,12,3,4,3.0,recent,0.111111,-0.167810,1.098612e+00,43591

In [13]:
df_interactions[['user_id', 'review', 'rating', 'item_id', 'item_idx']].merge(df_metadata[['name', 'item_id', 'item_idx']], on='item_id', how='left')

,user_id,review,rating,item_id,item_idx_x,name,item_idx_y
0,76561197960432447,A legendary tactical shooter that shaped the g...,True,10,0,Counter-Strike,0.0
1,76561198071230926,"The best CS sure, but server browser is the il...",True,10,0,Counter-Strike,0.0
2,76561198206216352,Some of the best memories of my childhood were...,True,10,0,Counter-Strike,0.0
3,76561198110801124,This game feels so much better than CS2. I kno...,True,10,0,Counter-Strike,0.0
4,76561199813732773,its very fun to play you can make friends out ...,True,10,0,Counter-Strike,0.0
...,...,...,...,...,...,...,...
1156221,76561198047845894,"A fun and innovative game, not a bad thing to ...",True,999890,28004,Bruken,28004.0
1156222,76561198314652319,"Developer, please listen to me, I love the con...",True,999890,28004,Bruken,28004.0
1156223,76561198035100973,Disclaimer: My scores/reviews are almost alway...,True,999990,28006,Bouncing Hero,28006.0
1156224,76561198414383514,Mediocre game with a pathetically bad challeng...,False,999990,28006,Bouncing Hero,28006.0
1156225,76561197992216244,Pogood.,True,999990,28006,Bouncing Hero,28006.0

In [14]:
df_interactions.to_csv('data/interaction-synchronized.csv')
df_metadata.to_csv('data/metadata-synchronized.csv')