In [3]:
import pandas as pd
REVIEWS_PATH = 'Final/Reviews-raw.csv'

In [4]:
df = pd.read_csv(REVIEWS_PATH)
df.head()

,Unnamed: 0,recommendationid,author_id,review,timestamp,voted_up,weighted_vote_score,app_id
0,0,186781078,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,0.652997,10
1,1,184974430,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,0.581749,10
2,2,186584044,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,0.628378,10
3,3,186564689,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,0.000000,10
4,4,186418367,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,0.000000,10

In [6]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

   recommendationid          author_id   timestamp  voted_up  app_id
0         186781078  76561197960432447  1738278781      True      10
1         184974430  76561198071230926  1736206418      True      10
2         186584044  76561198206216352  1738041574      True      10
3         186564689  76561198110801124  1738015332      True      10
4         186418367  76561199813732773  1737853720      True      10

In [7]:
df.to_csv('Final/Reviews-clean.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1766443 entries, 0 to 1766442
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   recommendationid  int64
 1   author_id         int64
 2   timestamp         int64
 3   voted_up          bool
 4   app_id            int64
dtypes: bool(1), int64(4)
memory usage: 55.6 MB