In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from enum import Enum

In [2]:
df = pd.read_csv('../../data/interaction-raw.csv')
df.head()

,Unnamed: 0,recommendationid,author_id,review,timestamp,voted_up,weighted_vote_score,app_id
0,0,186781078,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,0.652997,10
1,1,184974430,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,0.581749,10
2,2,186584044,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,0.628378,10
3,3,186564689,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,0.000000,10
4,4,186418367,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,0.000000,10

In [3]:
df.drop(columns=['Unnamed: 0', 'recommendationid', 'weighted_vote_score'], inplace=True)
df.head()

,author_id,review,timestamp,voted_up,app_id
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10

### Rename columns

In [4]:
column_names = {
    'author_id': 'user_id',
    'app_id': 'item_id',
    'voted_up': 'rating',
    'timestamp': 'timestamp',
    'review': 'review'
}
df.rename(columns=column_names, inplace=True)
df.head()

,user_id,review,timestamp,rating,item_id
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10

### Create implicit and explicit rating

In [5]:
df['rating_exp'] = df['rating'].apply(lambda x: 1 if x else -1)
df['rating_imp'] = df['rating'].astype(int)
df.head()

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10,1,1

### Remove duplicates

In [6]:
df[df.duplicated(subset=['user_id', 'item_id'])]

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp
236,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1
237,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1
238,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1
243,76561198830102893,"This, ladies and gentleman, is THE game. \n20+...",1738167642,True,10,1,1
244,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1
...,...,...,...,...,...,...,...
1766356,76561198303454302,Boring and pointless,1738010833,False,999220,-1,0
1766357,76561199411676014,walking simulator,1737583993,False,999220,-1,0
1766358,76561199228870797,eh,1736315388,True,999220,1,1
1766422,76561198224285812,"dont know why i have this, musta bought it age...",1737014724,True,999640,1,1
1766425,76561198084441041,good collection wish it have training mode oth...,1736471369,True,999660,1,1

In [7]:
df.drop_duplicates(subset=['user_id', 'item_id'], inplace=True)
df

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10,1,1
...,...,...,...,...,...,...,...
1766438,76561198047845894,"A fun and innovative game, not a bad thing to ...",1663545142,True,999890,1,1
1766439,76561198314652319,"Developer, please listen to me, I love the con...",1689826252,True,999890,1,1
1766440,76561198035100973,Disclaimer: My scores/reviews are almost alway...,1595699739,True,999990,1,1
1766441,76561198414383514,Mediocre game with a pathetically bad challeng...,1706470035,False,999990,-1,0
1766442,76561197992216244,Pogood.,1720163517,True,999990,1,1

### Feature engineering timestamp

#### Min-max Normalization

In [8]:
def normalize_timestamps(timestamps):
    min_time = timestamps.min()
    max_time = timestamps.max()
    normalized = (timestamps - min_time) / (max_time - min_time)
    return normalized

df['mm_timestamp'] = normalize_timestamps(df['timestamp'])
df['mm_timestamp'].head()

0    0.998997
1    0.994407
2    0.998472
3    0.998414
4    0.998056
Name: mm_timestamp, dtype: float64

#### Z-score Standardization

In [9]:
def standardize_timestamps(timestamps):
    mean_time = timestamps.mean()
    std_time = timestamps.std()
    standardized = (timestamps - mean_time) / std_time
    return standardized

df['z_timestamp'] = standardize_timestamps(df['timestamp'])
df['z_timestamp'].head()

0    0.559647
1    0.535447
2    0.556877
3    0.556570
4    0.554683
Name: z_timestamp, dtype: float64

#### Log Transformation

In [10]:
def log_normalize_timestamps(timestamps):
    min_time = timestamps.min()
    offset_timestamps = timestamps - min_time
    epsilon = 1e-10
    return np.log(offset_timestamps + epsilon)

df['log_timestamp'] = log_normalize_timestamps(df['timestamp'])
df['log_timestamp'].head()

0    19.927005
1    19.922399
2    19.926479
3    19.926420
4    19.926062
Name: log_timestamp, dtype: float64

#### Relative time encoding

In [11]:
# class ReferenceTime(Enum):
#     MOST_RECENT = 'most_recent'
#     CURRENT = 'current'
#     LAST_INTERACTION = 'last_interaction'
#
# class DecayFunction(Enum):
#     LINEAR = 'linear'
#     EXPONENTIAL = 'exponential'
#     POWER_LAW = 'power-law'
#     LOG = 'log'
#
# def relative_time_encoding(df: pd.DataFrame, reference_time: ReferenceTime = ReferenceTime.MOST_RECENT, decay_fn: DecayFunction = DecayFunction.LOG, decay_rate: float = 1.0, decay_power: float = 2.0) -> np.ndarray:
#
#     """Normalize based on recency relative to a reference time"""
#     if reference_time == ReferenceTime.MOST_RECENT:
#         reference_time = df['timestamp'].max()  # Most recent timestamp
#         df['time_diff'] = df['timestamp'].apply(lambda x: reference_time - x)
#
#     elif reference_time == ReferenceTime.CURRENT:
#         reference_time = pd.Timestamp.now().timestamp()
#         df['time_diff'] = df['timestamp'].apply(lambda x: reference_time - x)
#
#     elif reference_time == ReferenceTime.LAST_INTERACTION:
#         user_last_timestamps = df.groupby('user_id')['timestamp'].max()
#         df['last_timestamp'] = df['user_id'].map(user_last_timestamps)
#         df['time_diff'] = df['last_timestamp'] - df['timestamp']
#         df['time_diff'] = df['time_diff'].clip(lower=0)
#
#     if decay_fn == DecayFunction.LINEAR:
#         normalized = 1 / (1 + decay_rate * df['time_diff'])
#     elif decay_fn == DecayFunction.EXPONENTIAL:
#         normalized = np.exp(-decay_rate * df['time_diff'])
#     elif decay_fn == DecayFunction.POWER_LAW:
#         normalized = 1 / (1 + df['time_diff'] ** decay_power)
#     elif decay_fn == DecayFunction.LOG:
#         normalized = 1 / (1 + decay_rate * np.log(1 + df['time_diff']))
#
#     return normalized.values
#
# df['relative_most_recent_timestamp'] = relative_time_encoding(df)
# df['relative_current_timestamp'] = relative_time_encoding(df, ReferenceTime.CURRENT)
# df['relative_last_interaction_timestamp'] = relative_time_encoding(df, ReferenceTime.LAST_INTERACTION)
# df.drop(columns=['time_diff', 'last_timestamp'], inplace=True)
# df.head()

#### Encoding Cyclical Patterns with Sine/Cosine Transformations

In [12]:
# def encode_cyclical_feature(values, period):
#     """
#     Encode a cyclical feature using sine and cosine transformations
#
#     Args:
#         values: Array of values to encode (e.g., hours, weekdays)
#         period: The period of the feature (24 for hours, 7 for weekdays)
#
#     Returns:
#         Two arrays representing the sine and cosine components
#     """
#     # Scale the values to [0, 2π]
#     values_scaled = 2 * np.pi * values / period
#
#     # Return the sine and cosine components
#     return np.sin(values_scaled), np.cos(values_scaled)
#
# def extract_cyclical_time_features(timestamps):
#     """
#     Extract cyclical time features from unix timestamps
#
#     Args:
#         timestamps: Array of unix timestamps
#
#     Returns:
#         DataFrame with cyclical time features
#     """
#     # Convert to datetime
#     dates = pd.to_datetime(timestamps, unit='s')
#
#     # Extract time components
#     hours = dates.map(lambda x: x.hour)  # 0-23
#     days_of_week = dates.map(lambda x: x.day_of_week)  # 0-6 where 0 is Monday
#     days_of_month = dates.map(lambda x: x.day - 1)  # 0-30
#     months = dates.map(lambda x: x.month - 1)  # 0-11
#
#     # Encode cyclical features
#     hour_sin, hour_cos = encode_cyclical_feature(hours, 24)
#     weekday_sin, weekday_cos = encode_cyclical_feature(days_of_week, 7)
#     days_of_month_sin, days_of_month_cos = encode_cyclical_feature(months, 30)
#     month_sin, month_cos = encode_cyclical_feature(months, 12)
#
#     # Combine into a DataFrame
#     features = pd.DataFrame({
#         'hour_sin': hour_sin,
#         'hour_cos': hour_cos,
#         'weekday_sin': weekday_sin,
#         'weekday_cos': weekday_cos,
#         'day_of_month_sin': days_of_month_sin,
#         'day_of_month_cos': days_of_month_cos,
#         'month_sin': month_sin,
#         'month_cos': month_cos
#     })
#
#     return features
#
# time_features = extract_cyclical_time_features(df['timestamp'])
# df[time_features.columns] = time_features
# df.head()

### Save file

In [13]:
df.head()

,user_id,review,timestamp,rating,item_id,rating_exp,rating_imp,mm_timestamp,z_timestamp,log_timestamp
0,76561197960432447,A legendary tactical shooter that shaped the g...,1738278781,True,10,1,1,0.998997,0.559647,19.927005
1,76561198071230926,"The best CS sure, but server browser is the il...",1736206418,True,10,1,1,0.994407,0.535447,19.922399
2,76561198206216352,Some of the best memories of my childhood were...,1738041574,True,10,1,1,0.998472,0.556877,19.926479
3,76561198110801124,This game feels so much better than CS2. I kno...,1738015332,True,10,1,1,0.998414,0.556570,19.926420
4,76561199813732773,its very fun to play you can make friends out ...,1737853720,True,10,1,1,0.998056,0.554683,19.926062

In [15]:
df.to_csv('../../data/interaction-clean.csv', index=False)